.layout{
    margin-top: 5% ;
    width: 99%;
    height: 90%;
    
    background: #2C2C2C;
    border-radius: 13px;
}

.layout-inside{
    
    width: 100%;
    height: 100%;

    background: linear-gradient(107.07deg, rgba(122, 99, 255, 0.28) 12.37%, rgba(0, 0, 0, 0) 29.77%, rgba(49, 49, 49, 0) 48.65%, rgba(122, 99, 255, 0.28) 83.44%);
    border-radius: 13px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}
.layout-inside .left{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}.layout-inside .right{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.layout-inside .left h2{
    color: white;
}
.layout-inside .left h5{
    color: rgb(182, 182, 182);
}
.layout-inside .left button{
    margin-bottom: 3rem;
    width: 70%;
}
.layout-inside .left{
    text-align: center;
}
.layout-inside .right svg{
    background-color: white;
    float: center;
}
.layout-button{
    
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}
.button-code{
    width: 100%;
    height: 30%;
    display: flex;  
    flex-direction: column;
}

.button-code button{
    width: 100%;
    height: 30%;
    margin-bottom: 1rem;
}

.btn-dark{
    box-shadow: 2px 1px 1px rgba(122, 99, 255, 0.25);
}