
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

:root {
    --light: #d8dbe0;
    --dark: #7A63FF;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}
  

body{
    position: relative;
    width: 100vw;
    height: 100vh;

    background: linear-gradient(123.71deg, #17191E 101.07%, #74E0EF 101.08%, rgba(116, 224, 239, 0.5) 101.09%, #74E0EF 101.09%);

    overflow:auto;
}

.container-fluid{
    padding: 0;
}


.container-main{

    position: relative;
    width: 100vw;
    height: 100vh;

}

.navbar-vertical{
    position: fixed;
    background:#2C2C2C;
    width: 20vw;
    height: 100%;
    
    margin: 0.5em;
    border-radius: 10px;
    overflow:auto;
    overflow-x: hidden;
}


.navbar-vertical::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

.navbar-vertical::-webkit-scrollbar
{
	border-radius: 5px;
	width: 5px;
	background-color: #F5F5F5;
}

.navbar-vertical::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.calendar-icon{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 13%;
}

.menu-profile{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:20%;
}
.picture-profile{
    width: 60px;
    height: 60px;
    background-color: #7B63FF;
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    margin-right:13px;
}
.info-profile{
    width:65%;
    color: #FFFFFF;
}

.info-profile ul{
    list-style-type: none;
}

.email{
    font-size:13px;
}
.info-profile ul li:last-child{
    display: flex;
    font-size:13px;
    align-items: center;
}

.status-profile{
    width:13px;
    height:13px;
    background-color: rgb(0, 255, 0);
    border-radius:100%;
    margin-right: 10px;
}

.menu-itens{
    width:100%;
    margin-top:20%;
}

.menu-itens ul{
    color: #FFFFFF;
    list-style-type: none;
    font-size: 17px;
    padding: 0;
}

.menu-itens a{
    color: white;
    text-decoration: none;
}

.menu-itens ul li{
    padding:1em;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 6px;
}

.active{
    background:#6F88FC;
}

.menu-itens ul li svg{
    margin-right: 1.5rem;
}

.hr-style{
    width: 100%;
    display: flex;
    justify-content: center;
}

.hr-style hr{
    width: 80%;
    background:#dddd;
}

.user-views{
    color:#FFFFFF;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 6px;
    border: #17191E 1px solid;
}

.footer-user{
    border-bottom: #17191E 1px solid;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-user{
    width: 35px;
    height: 35px;
    background:#7B63FF;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center
}

.info-user{

    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 15px;
    align-items: center;
    margin: 0.8rem;
}
.user-icon{
    background:#7B63FF;
    width:44px;
    height: 44px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 15px;
}

.merge{
    border:#FFFFFF 1px solid;
    width: 15%;
    border-radius: 10px;
}




.darktheme{
    display:flex;
}
  
  .toggle-switch {
    position: relative;
    width: 15%;
    margin-left: 15%;
  }
  
  .switch {
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: var(--dark);
    border-radius: 50px;
    cursor: pointer;
  }
  
  input {
    display: none;
  }
  
.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
  }
  input:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;
    width: 17px;
    height: 16px;
    border-radius: 50%;
    box-shadow: inset 8px -4px 0px 0px var(--light);
    background-color: var(--dark);
    transition: 0.3s;
  }
  
  input:checked ~ .slider::before {
    transform: translateX(100%);
    background-color: var(--dark);
    box-shadow: none;
  }



  
  

  .content{
      margin-left: 23%;
      margin-right: 2%;
  }